.carrinho-container {
    padding: 20px;
    text-align: center;
  }
  
  .carrinho-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .carrinho-game-image {
    width: 120px;
    height: auto;
    border-radius: 8px;
  }
  
  .carrinho-game-title {
    font-size: 1.2rem;
    flex: 1;
    margin-left: 20px;
  }
  
  .botao-remover, .botao-limpar {
    background-color: #1b2838;
    color: #c7d5e0;
    border: 2px solid #66c0f4;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-remover:hover, .botao-limpar:hover {
    background-color: #66c0f4;
    color: #1b2838;
    padding: 10px;
  }
  